.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px;
    grid-template-areas: 'header logo';
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    justify-items: center;
}

.title {
    grid-column: 1;
}

.logo {
    grid-column: 2;
    width: 150px;
}